

.stats-bar {
    background-color:rgba(0, 72, 255, 0.447);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(118, 113, 113);
    border-radius: 5px
}
.player-health{
    background-color: yellow;
}
.enemy-health{
    background-color: yellow;
}

.attack-choice{
    background-color:rgba(0, 72, 255, 0.447);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(118, 113, 113);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.messages{
    background-color:rgba(0, 72, 255, 0.447);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(118, 113, 113);
    border-radius: 5px
    
}
.player-health{
    background-color:rgba(0, 72, 255, 0.447);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(118, 113, 113);
    border-radius: 5px;
    height: 30px;
}
.enemy-health{
    background-color:rgba(0, 72, 255, 0.447);
    border-style: solid;
    border-width: 3px;
    border-color: rgb(118, 113, 113);
    border-radius: 5px;
    height: 30px;
}
.btn-primary-leftChoice:hover{
    margin-right: 1%;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
}
.btn-primary-rightChoice:hover{
    margin-right: 1%;
    background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
    background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
}
.btn-primary-left{
    margin-right: 1%;
}
.btn-primary-top{
    margin-right: 1%;
}
.btn-primary-right{
    margin-right: 1%;
}
.backgroundImg{
    background-image: url("http://smashbros-miiverse.com/images/stages/w300/arena-ferox.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
.backgroundImg2{
    background-image: url("http://smashbros-miiverse.com/images/stages/w300/arena-ferox.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
}
.dead{

}
.split-img{
    height:50%;
}
.split-img2{
    height: 100%;
}
.warrior{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/originals/9e/8c/f4/9e8cf45482819110a8392781cbb2c5cf.png");
     
}

.lancer{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.vox-cdn.com/uploads/chorus_asset/file/7948219/fire-emblem-heroes-6.0.png");
    

}
.rogue{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("http://vignette2.wikia.nocookie.net/fireemblem/images/1/13/Chrom_(FE13_Artwork).png/revision/latest?cb=20130407081644");
}


