/* .main{
    height:900px;
} */

.stats-bar {
    background-color: rgb(109, 109, 245);
}
.player-health{
    background-color: yellow;
}
.enemy-health{
    background-color: yellow;
}

.attack-choice{
    background-color: red;
}
.messages{
    background-color:purple;
}
.backgroundImg{
    background-image: url("http://smashbros-miiverse.com/images/stages/w300/arena-ferox.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.player-img{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://cdn2.vox-cdn.com/uploads/chorus_asset/file/7948219/fire-emblem-heroes-6.0.png");
}
.enemy-img{
    
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/originals/9e/8c/f4/9e8cf45482819110a8392781cbb2c5cf.png")
}
.split-img{
    height:50%;
}
.split-img2{
    height: 50%;
}